<h1><%= @play.title %></h1>
<table id="roles" class="display" >
  <thead>
    <tr>
      <th>Role</th>
      <th>Number of Lines</th>
      <th>Longest Speech</th>
      <th>Number of Scenes</th>
      <th>Percentage of Scenes</th>
    </tr>

  </thead>
  <tbody>
    <%= render @roles %>
  </tbody>
</table>