<table class="left">
  <thead>
    <tr>
      <th id="alphabetical" class="active asc">Role</th>
      <th id="line_count" class="asc">Number of Lines</th>
      <th id="longest_speech" class="asc">Longest Speech</th>
      <th id="scene_count" class="asc">Number of Scenes</th>
      <th id="scene_percentage" class="asc">Percentage of Scenes</th>
    </tr>

  </thead>
  <tbody>
    <%= render @roles %>
  </tbody>
</table>