table {
  border: black 1px solid;
}

thead {
  background-color: lightblue;
}

th {
  padding-left: 10px;
  &:hover {
  background-color: #0099CC;
  }
}

tbody tr:nth-of-type(2n+1) {
  background-color: #EEE;
}

td {
  padding-left: 10px;
}

.left {
  text-align: left;
}

.active{
  background-color: #0099CC;

  &.asc:after {
    content: " [^] ";
    float: right;
    margin-left: 20px;
  }
  &.desc:after {
    content: " [v] ";
    float: right;
    margin-left: 20px;
  }
}

